* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sfpro", sans-serif;
}

@font-face {
  font-family: "sfpro";
  src: url('sfpro.woff2');
}

body {
  color: #fff;
  background-color: #000;
  text-align: center;
}

/* whole */

div.whole {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* container */

div.container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 90%;
  max-width: 500px;
  border: 2px solid white;
  border-radius: 1rem;
}

/* div.timebox */

div.timebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

div.timebox h1 {
  font-size: 4rem;
}

/* div.list */

div.list {
  height: 60%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  border-top: 0.3rem solid white;
}

div.list::-webkit-scrollbar {
  width: 0.3rem;
}

div.list::-webkit-scrollbar-track {
  background-color: transparent;
}

div.list::-webkit-scrollbar-thumb {
  background: white;
  border: 0.1rem solid black;
}

div.list ul {
  list-style: none;
}

div.list ul li {
  padding: 0.4rem;
  border-bottom: 2px solid grey;
  cursor: pointer;
}

div.list ul li:hover {
  background-color: grey;
}

div.list ul li:active {
  background-color: orange;
}

/* search */

input#search {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #0f1417;
  color: white;
  border: 0 solid white;
  border-radius: 1rem;
  margin: 0.5rem;
}

/* splash */

div.splash {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
  transition: all ease-in-out 600ms;
}

button {
  background-color: #fff;
  color: #000;
  font-size: 1.1rem;
  padding: 0.5rem 0.8rem;
  border: 2px solid white;
  border-radius: 0.2rem;
  transition: all ease-in-out 300ms;
  font-family: "sfpro", sans-serif;
}

button:hover {
  transform: scale(1.1);
}

.hide {
  transition : 0.5s;
  display : none;
  z-index: -1;
}
